<h1>🖥️注册系统</h1>
<div id="myform">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="email">📧邮箱</nz-form-label>
      <nz-form-control nzErrorTip="邮箱格式错误！">
        <input
          nz-input
          formControlName="email"
          #email
          (blur)="update(0, email.value)"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>🔑密码</nz-form-label>
      <nz-form-control nzErrorTip="密码格式错误！">
        <input
          nz-input
          type="password"
          #password
          (blur)="update(1, password.value)"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="checkPassword" nzRequired>🔑重复密码</nz-form-label>
      <nz-form-control nzErrorTip="密码格式错误！">
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
          #checkPassword
          (blur)="update(2, checkPassword.value)"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="nickname" nzRequired>
        <span>
          📛昵称
          <i
            nz-icon
            nz-tooltip
            nzTitle="What do you want other to call you"
            nzType="question-circle"
            nzTheme="outline"
          ></i>
        </span>
      </nz-form-label>
      <nz-form-control nzErrorTip="昵称格式错误！">
        <input
          nz-input
          #nickname
          formControlName="nickname"
          (blur)="update(3, nickname.value)"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="phoneNumber" nzRequired>📞电话号码</nz-form-label>
      <nz-form-control
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="电话号码格式错误！"
        class="phone-input"
      >
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
            </nz-select>
          </ng-template>
          <input
            formControlName="phoneNumber"
            #phoneNumber
            (blur)="update(4, phoneNumber.value)"
            nz-input
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="button-area">
      <nz-form-control>
        <label nz-checkbox formControlName="agree">
          <span>同意<a>使用协议</a></span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="button-area">
      <nz-form-control>
        <button nz-button nzType="primary">✔️注册</button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-list nzBordered nzSize="small" id="mylist">
    <nz-list-header>表单信息</nz-list-header>
    <nz-list-item *ngFor="let item of data">{{ item }}</nz-list-item>
  </nz-list>
</div>
