.phone-input {
  max-width: 220px;
}

.phone-select {
  width: 70px;
}

.button-area {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#myform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#mylist {
  width: 20%;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  height: fit-content;
}

nz-list-header {
  font-weight: bolder;
}