<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed" nzShowPagination="false">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.password }}</td>
      <td>{{ data.nickname }}</td>
      <td>{{ data.deptname }}</td>
      <td>{{ data.shopname }}</td>
      <td>{{ data.ismanager ? '✔️' : '' }}</td>
    </tr>
  </tbody>
</nz-table>